header {
  background-color: rgba(242, 242, 242, 1);
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;
  justify-items: center;
  align-items: center;
}

.headerTitle {
  height: 60px;
  width: 787px;
  left: 327px;
  top: 159px;
  font-size: 64px;
  text-align: center;
}
