.contact_us {
  height: 15rem;
  background: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-self: center;
  justify-items: center;
  align-items: center;
}

.contact_us h3.title {
  width: 27.5rem;
  left: 31.25rem;
  top: 19rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  height: 1.5rem;
}

#contact_us_p {
  margin-left: 28%;
}

.firstTitre {
  font-size: 2rem;
  font-weight: bold;
}

.secondTitre {
  font-size: 2rem;
  font-style: regular;
}

.contact_btn {
  height: 48px;
  width: 200px;
  left: 1005px;
  top: 96px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
  border: solid 1px black;
  font-size: 1.125rem;
  color: black;
  margin-left: 9%;
}

@media screen and (max-width: 891px) {
  .contact_us {
    height: 15rem;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    place-self: center;
    justify-items: center;
    align-items: center;
  }
  
}