@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.NavbarItems {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  height: 64px;
}

.navbar-logo {
  justify-self: start;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 1rem;
}

.cName {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #000;
  height: 22px;
  width: 214px;
  left: 1182px;
  top: 21px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.fa-bars {
  color: black;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    background-color: white;
    color: black;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .cName {
    color: black;
    text-align: center;
    padding: 4rem;
    width: 100%;
    display: table;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: black;
    font-size: 2rem;
  }
}
