.Cards {
  display: grid;
  width: 40px;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}

.created-at {
  font-size: 14px;
  line-height: 13px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  height: 13px;
}

.single-offer {
  padding: 14%;
}

.single-offer p.desc {
  margin-top: 9%;
}

.single-offer #button {
  height: 64px;
  width: 280px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 13%;
  margin-left: 36%;
  border: solid 1px black;
}

p.publish_date {
  color: #666666;
  margin-top: 4%;
  width: 62%;
}

.offer_sec_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28rem;
}

.loc {
  text-align: right;
}

.job-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.05em;
  text-align: left;
  height: 45.92603302001953px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  height: 43.737667083740234px;
  margin-bottom: 30px;
  height: 80px;
  width: 300px;
}

.last {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.adress {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  /* width: 99px; */
  left: 25px;
  top: 229px;
  color: black;
}

a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  left: 25px;
  top: 229px;
  color: black;
  text-decoration: none;
}