.form input {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
    padding-left: 2%;
}

.offer_title_apply {
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 30%;
    font-size: 31px;
}

.apply_title {
    height: 18px;
    width: 16rem;
    left: 31.25rem;
    top: 19rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    margin-left: 3%;
}

.form {
    padding-left: 9%;
    padding-bottom: 0%;
    padding-top: 0%;
}

span.red_star {
    color: red;
}

.lastname_div, .email_div, .phone_num_div, .address_div, .linkedin_div, .git_div {
    margin-top: 2%;
}

.address_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.address_cp input {
    width: 231px;
}

.address_city input {
    margin-left: 10.5%;
    width: 576px;
    position: absolute;
    top: 153%;
}

.apply_btn {
    height: 38px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: white;
    margin-left: 39%;
    margin-top: 8%;
    margin-bottom: 5%;
}