.Offers {
  width: 100vw;
}

.card-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.cards_details {
  background: #f2f2f2;
  border-radius: 5%;
  width: 97%;
}

.cards_details .description {
  margin-top: -4%;
}

.cards_details .last {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6%;
  margin-top: 22%;
}

.cards_details a {
  margin-left: 39%;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  place-self: center;
  justify-items: space-around;
  align-items: center;
  padding: 50px;
}

.card-body {
  place-self: center;
  align-items: center;
  background: white;
  border-radius: 5%;
}

.created-at {
  font-size: 14px;
  line-height: 13px;
  text-align: left;
  height: 13px;
  margin-top: 9%;
  margin-left: 9%;
}

.card-body .title {
  margin-top: 4%;
  margin-left: 9%;
}

.job-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.05em;
  text-align: left;
  height: 45.92603302001953px;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  margin-left: 9%;
}

.description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 9%;
  padding-right: 10%;
  margin-left: 9%;
}

.last {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6%;
}

.adress {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: black;
  margin-left: 17%;
}

a.see_more {
  margin-left: 39%;
}

a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 19px;
  left: 25px;
  top: 229px;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 878px) {
  .card-lists {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;
    justify-items: space-around;
    align-items: center;
    padding-top: 29px;
  }

  .cards_details {
    background: #f2f2f2;
    border-radius: 5%;
    width: 38%;
  }
}