form {
    padding: 5%;
}

form > .contact_label {
    font-family: 'Roboto';
}

.msg {
    margin-top: 3%;
}

.contact_email {
    width: 865px;
    height: 38px;
    background: white;
    position: relative;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    margin-top: 7px;
}

button.contact_send {
    height: 38px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: white;
    margin-left: 39%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.contact_msg {
    width: 865px;
    height: 387px;
    background: white;
    position: relative;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    margin-top: 7px;
}