@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.home_header {
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  height: 100%;
  width: 100%;
}

#button {
  height: 64px;
  width: 280px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
}

div #contact_signup_button {
  height: 48px;
  width: 200px;
  left: 1005px;
  top: 96px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 1);
  border: solid 1px black;
  font-size: 1.125rem;
  color: white;
}

.contact_us .title strong {
  width: 307px;
  height: 45px;
  top: 75px;
  left: 235px;
}

#contact_btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 278px;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.25rem;
  text-align: center;
  width: 30%;
}

.last-offers {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
}

.cards_list {
  height: 17rem;
}

@media screen and (max-width: 1021px) {
  .cards_list {
    height: 52rem;
  }

  .Cards {
    display: flex;
    width: 40px;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    flex-direction: column;
  }

  #contact_btns {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 890px) {
  div #contact_signup_button {
    height: 48px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: white;
    margin-top: 13%;
  }

  .contact_btn {
    height: 48px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: black;
    margin-top: 14%;
    margin-left: 0%;
  }
}