.login_form {
    padding: 10%;
}

.login_form .password {
    margin-top: 3%;
}

.login_form .email {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
}

.login_form .create_account {
    text-decoration: underline;
    font-family: 'Roboto';
    font-weight: 400;
}

.login_form a.create_account {
    margin-left: 7%;
}

.login_form p.purpose {
    margin-left: 40%;
    margin-top: 3%;
}

.login_form input.login_send {
    height: 48px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: white;
    margin-left: 39%;
    margin-top: 6%;
}

.login_form .password_input {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
}