.Signup label {
    font-family: 'Roboto';
}
.form {
    padding: 9.5%;
}
.Signup .email {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
}
.Signup .password_sec {
    margin-top: 3%;
}
.Signup .confirm_password_sec {
    margin-top: 3%;
}
.Signup .password {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
}

.Signup .confirm_password {
    width: 809px;
    height: 48px;
    left: 218px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 1.5%;
}

.Signup .login_account {
    text-decoration: underline;
    font-family: 'Roboto';
    font-weight: 400;
}

p.purpose {
    margin-left: 37%;
    margin-top: 3%;
}

.Signup a.login_account {
    margin-left: 14%;
}

.signup_btn {
    height: 48px;
    width: 200px;
    left: 1005px;
    top: 96px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: solid 1px black;
    font-size: 1.125rem;
    color: white;
    margin-left: 39%;
    margin-top: 6%;
}