@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100%;
}

h1 {
  height: 6rem;
  width: 49rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.25rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.25rem;
  text-align: center;
  width: 30%;
  height: 12%;
  margin-bottom: 3.875rem;
}

.last-offers #title {
  margin-top: 5%;
}

h3 {
  height: 5.31rem;
  width: 27.5rem;
  left: 31.25rem;
  top: 19rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
}

@media screen and (max-width: 1021px) {
  h3 {
    height: 5.31rem;
    width: 22rem;
    left: 31.25rem;
    top: 19rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
  }

  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
  }
}

@media screen and (max-width: 766px) {
  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 62%;
  }
}

@media screen and (max-width: 611px) {
  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 93%;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 77%;
  }
}

@media screen and (max-width: 484px) {
  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 78%;
  }
}

@media screen and (max-width: 489px) {
  h1 {
    height: 6rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.25rem;
    text-align: center;
    width: 78%;
  }
}