footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

footer p {
  margin-top: 2%;
}

.hr_footer {
  margin-top: 2%;
  width: 365%;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  border: 1px solid rgba(0, 0, 0, 1);
}

.coopyright {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 778px) {
  .hr_footer {
    margin-top: 2%;
    width: 144%;
  }
}